<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photo Viewer from Asset Folder Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <p>View Photo From Application's Assets Folder<br>
    <ion-button (click)="viewPhoto()">View Photo</ion-button>
  </p>
</ion-content>
